/*Gerais*/
body{
    font-family: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação*/
#menulink{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 50px;
    text-align: center;

}
#menulink:hover{
    text-decoration: underline;
}
img#logo{

    border-style: solid;
    border-radius: 100%;
    border-color: rgba(0, 0, 0, 0.63);
    background-color: rgb(233, 186, 34);
    border-width: 4px;
    height: 65px;
    width: 65px;
    
    
}

#ul {
    border-left-style:  outset;
    border-left-color: rgb(233, 186, 34);
    border-left-width: 3px;
    transition: 2s;
    padding-right: 50px;
}


#nassanlogo{
    font-size: 20px;
    text-transform: uppercase;
}

/* Slider */



#carouselExampleIndicators .carousel-inner, .carousel-item{
    height: 70vh;

}

#tituloslide{
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

#tituloslide2 {
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    color: white;
}
#subtituloslide{
    text-align: center;
    color: white;
    font-size: 12pt;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: uppercase;
    
}

#subtituloslide2{
    text-align: center;
    color: white;
    font-size: 12pt;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: uppercase;
    
}

#slidelink {
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    padding: 10px 20px;
    transition: .5s;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 500;
}
#slidelink2 {
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    padding: 10px 20px;
    transition: .5s;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
}
#slidelink:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

#slidelink2:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-caption{
    top: 30%;
}

#prev{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    font-size: 20px;
}

#next {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    font-size: 20px;
}

#prev:hover{
    background-color: rgba(0, 0, 0);
    color: yellow;
}

#next:hover{
    background-color: rgba(0, 0, 0);
    color: yellow;
}
#myCarousel{
    margin-bottom: 250px;
}

/**Cabeçalho**/
#footericon:hover{
 background-color: yellow   
}
#footertext{
    color: white;
    font-size: 16pt;
}

/**Section**/ 
#section1{
    margin-bottom: 200px;
}
#sectionconteudo h1{
    text-align: center;
}
#sectionconteudo p{
    text-align: justify;
    font-weight: 500;
}

#sectionbutton{
padding: 10px 20px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.5);
border-width: 2px;
text-transform: uppercase;
}

#sectionbutton:hover{
    box-shadow: 1px 1px 30px rgb(255, 217, 3)
}

#section2img{
    width: 200px;
    height: 300px;
    display: block;
    margin-left: 120px;
}
#section1img{
    margin-left: 40px;
    display: block;
    width: 500px;
    height: 300px;
}
#section3#img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 80px;
}

#buttonlink{
    color: black;
    text-decoration: none;}

p#sectionP{
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: justify;
}    

h2#sectiontitle{
    text-transform: uppercase;
    text-align: center;
}

    /*Pacotes*/
tbody tr td#check {
    font-weight: 800;
    font-size: 20px;
    color: rgb(35, 211, 50);
}

tbody tr td#nocheck {
    font-weight: 800;
    font-size: 20px;
    color: red;
}

ul#pacote {
    font-weight: 600;
    text-transform: uppercase;
}
div#valoresheader{
    margin-top: 100px;
}

div#valores{
    margin-top: 50px;
}

div#compare{
    margin-top: 100px;
    margin-bottom: 250px;
}
h2#compareh2{
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 400;
}

/*section da pagina valores*/ 
ul#treinamento li{
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: solid;
    border-width: 3px;
    border-color: rgb(248, 212, 9);
    padding-left: 10px;
}

section#sectionvalores{
    margin-bottom: 300px;
}

div#cardplanos{
    height: 450px;
}
button#buttonplanos1{
    margin-top: 100px;
}
button#buttonplanos2{
    margin-top: 40px;
}

/*Cadastro*/

h2#headertitulo{
    text-transform: uppercase;
}
header#cadastrocabeçalho{
    text-align: center;
    margin-bottom: 70px;
}

h4#subtitulo-formulario{
    font-size: 22px;
    margin-bottom: 20px;

}

div#formulariocpf{
    margin-bottom: 30px;
}

div#formulariodivfinal{
    margin-bottom: 30px;
}